@font-face {
  font-family: ANKISH-V2;
  src: url(./assets/fonts/ANKISH-V2.otf) format('opentype');
  font-weight: normal;
  font-style: normal;
}

h1 {
  font-size: 3rem;
  color: #FACCBC;
  top: 0;
  font-family: ANKISH-V2, sans-serif;
  text-align: center;
}

* {
  background-color: #30243A;
}
